.container{
  background-color: #F5F5DC
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.input-container {
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
#input {
  width: 70%;
  padding: 8px 12px;
  border-radius: 5px;
  border:1 1px solid #000000;
}
#add-button{
  width: 20%;
  background-color: #FF1111;
  border-radius:5px;
  border: 1px solid #FF1111;
  color: white;
}
